@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
body {
	background-image: url("../img/bg2.png");
	background-repeat: no-repeat;
	background-size: 1920px;
	background-position-x: center;  
}
header {
	.navbar {
		height: 80px;
		width: 100%;
		.logo {
			margin-top: 20px;
			.imglogo {
				margin-left: 300px;
				width: 100px;
				height: 100px;
			}
				.btnlogo {
					font-family: 'Julius Sans One', sans-serif;
					margin-left: 14px;
					margin-right: 500px;
					font-size: 16px;
					.btndec {
						margin-left: 7px; 
						font-weight: bold;
						font-size: 20px;
						font-family: 'Julius Sans One', sans-serif;
					} 
				}
		}
		ul {
			li {
				display: inline-block;
				margin-right: 30px;
				margin-top: 20px;
				.btnlink {
					float: left;
				} 
			}
		}
		.btnsteam .btn {
			margin-right: 300px;
			font-size: 15px;
		}
		a {
			font-size: 14px;
			color: #f5f5dc;
			&:hover {
				color:#fa8072;
				text-decoration: none;
			}	
		}
	}
}
section {
	.btn {
		position: absolute;
		width: 10%;
		top: 35%;
		left: 45%;
		font-weight: bold;
	}		
	form {
		.row {
			.col {
				position: absolute;
				width: 50%;
				top: 30%;
				left: 25%;
				}
			}
		}
}