@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
header {
	.navbar {
		height: 80px;
		width: 100%;
		.logo {
			margin-top: 20px;
			.imglogo {
				margin-left: 300px;
				width: 100px;
				height: 100px;
			}
				.btnlogo {
					font-family: 'Julius Sans One', sans-serif;
					margin-left: 20px;
					margin-right: 500px;
					font-size: 16px;
					.btndec {
						font-weight: bold;
						font-size: 20px;
						font-family: 'Julius Sans One', sans-serif;
						} 
				}
		}
		ul {
			li {
				display: inline-block;
				margin-right: 30px;
				margin-top: 20px;
				.btnlink {
					float: left;
				} 
			}
		}
		.btnsteam .btn {
			margin-right: 300px;
			font-size: 15px;
		}
		a {
			font-size: 14px;
			color: #f5f5dc;
			&:hover {
				color:#fa8072;
				text-decoration: none;
			}	
		}
	}
}
