@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
body {
	background-image: url("../img/bg2.png");
	background-repeat: no-repeat;
	background-size: 2300px;
	background-position-x: center;  
}
p {
	color: #f5f5dc;
}
header {
	.navbar {
		height: 80px;
		width: 1920px;
		.logo {
			margin-top: 20px;
			.imglogo {
				margin-left: 300px;
				width: 100px;
				height: 100px;
				}
				.btnlogo {
					font-family: 'Julius Sans One', sans-serif;
					margin-left: 14px;
					margin-right: 500px;
					font-size: 16px;
					.btndec {
						margin-left: 7px; 
						font-weight: bold;
						font-size: 20px;
						font-family: 'Julius Sans One', sans-serif;
					} 
				}
			}
			ul {
				li {
					display: inline-block;
					margin-right: 30px;
					margin-top: 20px;
					.btnlink {
						float: left;
					} 
				}
			}
			.btnsteam .btn {
				color: #343a40;
				margin-right: 300px;
				font-size: 15px;
			}
			a {
				font-size: 14px;
				color: #f5f5dc;
				&:hover {
					color:#ff6f53;
					text-decoration: none;
			}		
		}	
	}	
}
.sea {
	width: 800px;
	margin-left: 400px;
	margin-top: 300px;
}
.region {
	.custom-select {
		font-weight: bold;
		height: 37px;
		width: 60px;
		margin-left: 1210px;
		margin-top: -66px;
	}
}
.btnsea {
	.btn {
		width: 200px;
		margin-left: 750px;
		margin-top: -20px;
	}
}				
.foobar {
	.navbar {
		background: #161a1d;
		width: 1920px;
		margin-top: 400px;
		height: 150px;
	}
}		
	